<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Hangman Game</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../../static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="../../static/images/logo.png" alt="" />
            <span>
              Hangman Game
            </span>
          </a>

        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      The Best <br>
                      Hangman Game  <br>
                      You Can found Here
                    </h1>

                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Solo
                      </a>
                      <a href="" class="btn-2">
                        With a Friend
                      </a>
                    </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="../../static/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- experience section -->

  <section class="experience_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <img src="../../static/images/experience-img.png" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About me and only me
              </h2>
            </div>
            <p>
              Hi, I am a Junior Developper who wants to have fun, if you want to check my socials networks just click below !
            </p>
            <div class="btn-box">
              <a href="" class="btn-1">
                Social
              </a>
              <a href="" class="btn-2">
                Have Fun
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end experience section -->

  <!-- info section -->

  <section class="info_section layout_padding3">
    <div class="info_container">
      <div class="container">
        <div class="info_top">
          <div class="info_logo">
            <img src="../../static/images/logo.png" alt="" />
            <span>
              Hangman Game
            </span>
          </div>
          <div class="social_box">
            <a href="#">
              <img src="../../static/images/mail.png" alt="">
            </a>
            <a href="#">
              <img src="../../static/images/linkedin.png" alt="">
            </a>
            <a href="#">
              <img src="../../static/images/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayDate"></span> All Rights Reserved By Me &
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- end  footer section -->

</body>
</body>

</html>